h1 {

  font-size: 24px;
  margin: 5px;
  padding: 5px;
  background-color: lightgreen;
  border: 1px solid green;
}

.columnnav{
  position: fixed;
  width: 150px;
  float: left;
  background-color: #eee;
}
.columnmain{
  position: relative;
  margin-left: 175px;
}

.iconImage{
  width: 40px;
  float: left;
}

.iconTitle{
  font-size: 12px;
  font-weight: bold;
}

#wikiIcon{
  width: 150px;
}


@media screen and (min-width: 800px) {
    .iconBox{
      padding: 2px;
      width: 30%;
      float: left;
    }
}
@media screen and (min-width: 600px) and (max-width: 800px) {
    .iconBox{
      padding: 2px;
      width: 50%;
      float: left;
    }
}
